.selectors_group {
  display: flex;
}

.selector_block {
  display: block;
}

.legend {
  height: 15px;
  color: #fff;
  font-size: 12px;
}

.vocabulary_selector,
.language_selector,
.creator_block {
  position: relative;
  padding-right: 10px;
  width: 200px;
}

.selector {
  background-color: #ffff;
  display: flex;
  cursor: pointer;
}

.chosen {
  width: 100%;
  height: 20px;
  font-size: 15px;
  outline: none;
  padding: 0 5px 0 5px;
  line-height: 30px;
}

.open_button {
  width: 20px;
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
}

.open_button img {
  width: 18px;
}

.list_popup {
  position: absolute;
  top: 30px;
  width: 198px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.list_items_block {
  max-height: 195px;
  overflow-y: auto;
}

.list_item {
  display: flex;
  color: #008cba;
  cursor: pointer;
}

.list_item:nth-child(odd) {
  background-color: #eaeef2b3;
}

.list_item_create {
  background-color: #008cba;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%);
  -khtml-box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%);
}

.list_item_create:hover {
  padding: 5px;
  cursor: pointer;
  background-color: #015774;
}

.list_item:hover {
  background-color: #008cba;
  color: #fff;
}

.list_name {
  flex: 1 1 auto;
  padding: 5px;
}

.remove {
  height: 17px;
  padding: 5px;
  opacity: 0.3;
}

.remove:hover {
  opacity: 0.9;
}

.creator_input {
  width: 90%;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.creator_save {
  position: absolute;
  top: 8px;
  left: 167px;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  padding: 5px;
  border-radius: 13px;
  color: #ffff;
  background-color: #008cba;
}
