.words_block {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  display: flex;
  width: 100%;
  height: 55px;
  background-color: #2c3940;
}

.dark {
  background-color: #181818;
}

.search {
  height: 36px;
  width: 200px;
  margin-left: 22px;
  font-size: 18px;
  padding: 0 10px;
  border: 2px solid #2c3940;
}

.dark .search {
  background-color: #414339;
  color: #d6d6d6;
  border: 1px solid #2c3940;
}

.dark .search:focus {
  border: 1px solid #d6d6d6;
}

.search:focus {
  border: 2px solid #008cba;
}

.search:focus-visible {
  outline: none;
}

.sort {
  color: #e6e6e6;
  padding: 2px 10px;
  text-align: center;
  min-width: 50px;
}

.sort img {
  width: 18px;
  cursor: pointer;
  background-color: #e6e6e6;
}

.save {
  position: absolute;
  top: 10px;
  left: 160px;
}

.add_new_word {
  height: 36px;
  line-height: 6px;
  background-color: #9bfba8;
  color: #000;
  min-width: 116px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.add_new_word:hover {
  background-color: #249e34;
}

.dark .add_new_word {
  background-color: #f3a859;
}

.dark .add_new_word:hover {
  background-color: #ffc68a;
}

.item {
  display: flex;
  padding: 10px 5px 10px 8px;
  margin: 0.5%;
  border-radius: 14px;
}

.counter {
  color: #b4b4b4;
  height: 20px;
  width: 20px;
  margin: 10px 0px 0 10px;
  text-align: center;
}

.counter_value {
  font-size: 10px;
  margin: 20% 2px;
}

.word {
  display: flex;
  position: relative;
}

.editor {
  position: "relative";
}

.editor input:focus-visible {
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-size: 20px;
}

.editor_dark input:focus-visible {
  outline: none;
  font-size: 20px;
}

.editor input::placeholder {
  color: #e2e2e2;
}

.editor p {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  min-width: 300px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 0 6px;
  cursor: pointer;
  min-height: 25px;
}

.editor_dark p {
  background-color: #383838;
  border: none;
  font-weight: 300;
}

.original {
  color: #1fa56d;
}

.translated {
  color: #c28b26;
}

.original:hover,
.translated:hover {
  background-color: #e7e7e7;
}

.editor_dark .original:hover,
.editor_dark .translated:hover {
  background-color: #c3c3c3;
}

.notification {
  position: absolute;
  top: 27px;
  color: white;
  background-color: #6b6b6b;
  font-size: 15px;
  padding: 2px;
}

.progress {
  padding-top: 10px;
  margin-right: 8px;
}

.progress_item {
  width: 14px;
  height: 3px;
  margin-bottom: 3px;
  background-color: #d9d9d9;
}

.progress_positive {
  background-color: #73d4ac;
}

.remove_control {
  width: 50px;
  float: right;
  padding-top: 3px;
}

.remove_button {
  cursor: pointer;
  opacity: 0.3;
  border: 1px solid black;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  float: right;
}

.remove_button:hover {
  background-color: #1e1e1e;
  color: #ffff;
}

.remove_control_dark .remove_button {
  border: 1px solid #ffff;
}

.remove_control_dark .remove_button:hover {
  opacity: 0.7;
}

.remove {
  line-height: 7px;
  padding: 0;
  color: rgb(97, 97, 97);
  background-color: transparent;
  width: 44px;
  height: 23px;
  cursor: pointer;
}

.others_block {
  display: flex;
}

.edit {
  padding: 0;
  margin: 2px 0px;
  color: #616161;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  width: 56px;
  height: 15px;
  cursor: pointer;
  font-size: 12px;
}

.edit:hover {
  background-color: #dbdbdb;
}

.others {
  margin: 0px 5px;
  color: #96aeb6;
  font-size: 12px;
  line-height: 19px;
}

.list {
  width: 206px;
  position: relative;
}

.list_input {
  width: 202px;
  max-height: 27px;
  border: 1px solid #ccc;
  border-top: 1px solid #008cba;
  font-size: small;
  font-family: Segoe UI, Arial Unicode MS, Arial, sans-serif;
  outline: none;
  padding: 2px;
}

.list_popup {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #ccc;
}

.list_popup p {
  margin: 0;
  color: #008cba;
  padding: 2px;
}

.list_item {
  display: flex;
}

.list_item:nth-child(odd) {
  background-color: #eaeef2b3;
}

.list_item p {
  flex: 1 auto;
}

.list_remove {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.close {
  position: absolute;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  right: 20px;
  top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit_button {
  height: 26px;
  padding: 11px;
  margin-right: 10px;
  cursor: pointer;
}

.edit_button:hover {
  opacity: 0.5;
}

.ve_modal {
  background-color: #fefefe;
  margin: 15% auto;
  width: 260px;
  border-radius: 10px;
}

.ve_header {
  height: 40px;
  position: relative;
  background-color: #008cba;
  color: white;
  border-bottom: 1px solid #292929;
  border-radius: 10px 10px 0 0;
}

.ve_header p {
  padding: 12px;
}

.dark {
  background-color: #181818;
}

.ve_close {
  position: absolute;
  right: 9px;
  bottom: 4px;
  color: #2f2f2f;
  font-size: 28px;
  font-weight: bold;
}

.ve_close:hover,
.ve_close:focus {
  color: #e6e6e6;
  text-decoration: none;
  cursor: pointer;
}

.ve_content {
  padding: 26px;
}

.ve_content input {
  width: 200px;
  max-height: 27px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: Segoe UI, Arial Unicode MS, Arial, sans-serif;
  outline: none;
  padding: 2px;
}

.ve_content input:focus-visible {
  border: 1px solid #999999;
}

.excel_button {
  color: #000000;
  background-color: #ffffff;
  height: 14px;
  width: 172px;
  padding: 7px 15px;
  position: relative;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.1s;
  border: 1px solid #008cba;
}

.excel_button:hover {
  background-color: #008cba;
  color: #fff;
}

.excel_button img {
  position: absolute;
  left: 26px;
  top: 6px;
}

.import_info {
  height: 40px;
  padding: 10px 0;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not_valid {
  color: #d10303;
}

.ve_buttons {
  text-align: center;
}

.ve_buttons button {
  height: 30px;
  width: 80px;
  padding: 5px 20px;
  font-size: 14px;
}
