html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  height: 100%;
}

/* theme colors */
.white {
  background-color: #ffffff;
}

.dark {
  background-color: #1e1e1e;
  color: #d6d6d6;
}

/* button */
.button {
  color: #ffffff;
  background-color: #008cba;
  height: 48px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  border-radius: 4px;
  transition-duration: 0.1s;
}

/* button white theme */

.button:focus {
  background-color: #025975;
}

.button:hover {
  color: white;
  background-color: #025975;
}

/* button dakr theme */
.dark .button {
  color: #d6d6d6;
  background-color: #00475e;
  border: none;
}

.dark .button:focus-visible {
  border: none;
  outline: none;
}

.dark .button:hover {
  color: #d6d6d6;
  background-color: #025975;
}
