.preloader_block {
    display: flex;
}

.preloader_content {
  margin: 25% auto;
}

.spacer {
  flex: 1 1 auto;
}

.go_menu {
  position: absolute;
  top: 10px;
  left: 15px;
}

.tooltip {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 20px;
  padding: 0 2px 0 2px;
  background-color: #181818;
  z-index: 2;
}

.tooltip_dark {
  color: #414339;
  background-color: #d6d6d6;
}
