.dark_header {
    background-color: #181818;
}

.dark_main {
    background-color: #1e1e1e;
}

.dark_text {
    color: #d6d6d6;
}

.aroundtext {
    background-color: #414339
}

.aroundtext2 {
    background-color: #414339

}

.acive {
    background-color: #f3a859;
}

.active:hover {
    background-color: #ffc68a;
}
