.block {
}

.word {
  min-width: 100px;
  width: 380px;
  margin: auto;
  font-size: 20px;
  border: 1px solid #17177a;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 13px 10px;
  line-height: 30px;
}

.word_dark{
  color: #d6d6d6;
  border: 1px solid #1f1f1f;
  background-color: #383838;
}

.buttons_group {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.button {
  display: block;
  width: 420px;
  height: 70px;
  margin: 5px auto;
}

.button:focus {
  background-color: #025975;
}

.button:focus-visible {
  outline: none;
}

.correct,
.wrong {
  border: 1px solid #b3b0b0;
  color: #000;
}

.correct {
  background-color: #9bfba8;
}

.wrong {
  background-color: #fb9b9b;
}

.show_correct {
  background-color: #fbf59b;
  color: #000;
}

.next_button {
  text-align: center;
  height: 42px;
  margin-top: 20px;
}

.next_button .next {
  /* padding: 5px 20px 5px 20px;
  margin-top: 35px; */
  border-radius: 5px;
  width: 200px;
  height: 42px;
  background-color: #ffb876;
  color: #000;
  border: 1px solid;
  outline: none;
}

.next_button .next:hover {
  background-color: #ffa34e;
}

.dark .next {
  background-color: #bd7f45;
  color: #d6d6d6;
  border: none;
}

.center {
  text-align: center;
}

.center .check {
  width: 30%;
}

.input_word {
  width: 380px;
  font-size: 18px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #faf3b1;
  border: 1px solid;
  outline: none;
}

.input_word_correct {
  background-color: #d4ffd4;
}

.dark .input_word {
  background-color: #68563a;
  color: white;
  border: none;
}

.dark .input_word_correct {
  background-color: #466246;
}

.cheer {
  font-size: 32px;
  color: #008cba;
  text-align: center;
}

.mistake {
  text-align: center;
  padding-top: 20px;
}

.mistake_correct {
  font-size: xx-large;
  color: #008cba;
}

.mistake_wrong {
  font-style: italic;
  text-decoration: line-through;
  color: rgb(255, 112, 112);
}

.congrats {
  position: absolute;
  top: 10%;
  font-size: 28px;
  font-style: italic;
  color: #008cba;
}

.more_words {
  padding: 10%;
  color: #008cba;
}

.hint_block {
  min-height: 48px;
  padding: 10px;
}

.hint_button {
  background-color: #9866ca;
  width: 43px;
  height: 43px;
  padding: 4px;
  border: none;
  border-radius: 50%;
}

.hint_try {
  color: #c0efff;
}

.hint_wrong {
  color: #ffbcac;
}

.other_block {
  min-height: 18px;
  margin: 25px 0 25px 0;
}

.other span {
  margin-left: 10px;
  color: #b4b4b4;
}

.other_block_dark .other {
  color: #636363;
}

.finished_dark {
  color: #d6d6d6;
}
